.icon.close {
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1;
    opacity: .8;
    font-size: 1.25em;
    width: 2.25rem;
    height: 2.25rem;
    padding: 0.625rem 0 0 0;
    color: black;
}